<!DOCTYPE html>
<html lang="en">
<head>
  <title>Thank you</title>
  <link rel="stylesheet" href="/assets/css/error.css">
   <%- include('../partials/head') %>

</head>
<body class="bg-dark">
<%- include('../partials/white-menu') %>
<section class="about-section pb-120 bg-dark" data-aos="zoom-out" data-aos-delay="800">
      <div class="container mt-2">
        <div class="row">
          <div class="col-12 col-lg-6">
            <div class="position-relative">
              <img src="/assets/images/about/about-white.png" alt="">
            </div>
          </div>
          <div class="col-12 col-lg-6 about-grid-space-right d-flex">
            <div class="fw-bold font-Syne leading-none d-flex flex-wrap flex-column gap-y-2">
              <h2 class="section-title circle-shape text-white position-relative mt-5">Thank You!</h2>
              <h4 class=" text-white">Your message has been sent successfully. We will contact you soon.</h4>
              <div class="d-flex flex-wrap mt-4">
                <a href="/" class="d-flex flex-wrap align-items-center btn-primary">GO BACK TO HOME
                  <span class="d-inline-block animate-arrow-up">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M7 17L17 7" stroke="currentColor" stroke-opacity="0.9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                      <path d="M7 7H17V17" stroke="currentColor" stroke-opacity="0.9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                  </span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
<%- include('../partials/footer') %>    
</body>
</html>
